@include respond-to("medium") {
  .container {
   -ms-grid-column: 1;
   -ms-grid-column-span: 8;
   grid-column: 1 / span 8;
   -ms-grid-row: 2;
   -ms-grid-row-span: 1;
   grid-row: 2/3;
  }
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  .container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / span 8;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@include respond-to("huge") {
  .container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 14;
    grid-column: 1 / span 14;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}
