.footer {
  background: $brand-point;
  text-align: center;
  &__heading {
    font-size: 1.6rem;
  }
  .footer__area {
    height: 200px;
    .contact {
      margin: 2rem 0 4rem;
      .social-icons {
        font-size: 2rem;
        a {
          padding: 0 2rem;
        }
      }
    }
    small {
      font-size: 1.2rem;
    }
  }
}
@include respond-to("medium") {
  .footer {
    grid-column: 1 / span 8;
    grid-row: 3/4;
    &__area {
      padding: 3rem 3rem;
    }
  }
}
@media screen and (min-width: 601px) and (max-width: 960px) {
  .footer {
    grid-column: 1 / span 8;
    grid-row: 3/4;
    &__area {
      padding: 3rem 3rem;
    }
  }
}
@include respond-to("huge") {
  .footer {
    grid-column: 1 / span 14;
    grid-row: 3/4;
    &__area {
      padding: 3rem 3rem;
      max-width: 1100px;
    }
  }
}
