.header {
  // position: sticky;
  // top: 0;
  z-index: 100;
  background: $body-bg;
  font-size: 1.5rem;
  .logo {
    background: $brand-logo no-repeat 0 0;
    background-size: 100%;
    width: 40px;
    height: 40px;
    margin: 3rem auto;
  }
  .menu {
    a {
      padding: 1rem;
      &:hover,
      &:active {
        background-image: linear-gradient(0, $brand-point, $brand-point);
        background-repeat: no-repeat;
        background-size: 100% 0.2rem;
        background-position: 0 50%;
      }
    }
  }
}
@include respond-to("medium") {
  .header {
    grid-column: 1 / span 8;
    padding: 0 2.5rem;
    grid-row: 1/2;

    .navigation {
      .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
}
