.sub {
  display: grid;
  width: 100%;
  .link {
    color: #339af0;
    &:hover {
      text-decoration: underline;
    }
  }
  .chan__img {
    background: url(images/chan_main.jpg) no-repeat;
  }
  .baemin__img {
    background: url(images/baemin.jpg) no-repeat;
  }
  .baseball__img {
    background: url(images/baseball.jpg) no-repeat;
  }
  .colorChallenge__img {
    background: url(images/color.jpg) no-repeat;
  }
  .visual__bg {
    -webkit-filter: grayscale(0%);
    filter: none;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    height: 450px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    &:hover {
      -webkit-filter: grayscale(100%);
      filter: gray;
      transition: 0.5s;
    }
  }
  .article {
    width: 100%;
    .site__info {
      display: flex;
      align-items: center;
      .info__list {
        .info__item {
          margin-bottom: 2.5rem;
          h6 {
            color: $brand-point;
            font-size: 1.8rem;
            font-weight: 600;
          }
          ol {
            list-style-type: disc;
            padding-left: 2rem;
            margin-bottom: 2rem;
          }
          li {
            font-size: 1.6rem;
            margin-top: 0.5rem;
            word-break: keep-all;
          }
        }
        .info__icon {
          margin-left: -1rem;
          a {
            margin: 0 1rem 0;
            i {
              font-size: 2.5rem;
              color: $font-base;
              &:hover,
              &:focus {
                color: $brand-point;
              }
            }
          }
        }
      }
    }
  }
  .article,
  .back__area {
    padding: 0 3.5rem;
  }
  .back__area {
    margin: 100px auto;
    max-width: 1170px;
    a {
      h3 {
        color: #999;
        font-weight: 600;
        font-size: 2.4rem;
        display: inline;
        &:hover,
        &:focus {
          color: $brand-point;
        }
      }
    }
  }
}
