.visual {
  color: $font-base;
  padding: 0 3rem 4rem;
  h2 {
    font-size: 2.5rem;
  }
  span {
    background-image: linear-gradient(0, $brand-point, $brand-point);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 88%;
  }
  .visual__area {
    animation-duration: 3s;
    animation-iteration-count: 1;
  }
}
@include respond-to("medium") {
  .visual {
  }
}
