.wrap {
  min-width: 320px;
}
@include respond-to("medium") {
  .wrap {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 5px 1fr 1fr 1fr 1fr 1fr 1fr 5px;
    grid-template-rows: 140px auto 20rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 960px) {
  .wrap {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 5px 1fr 1fr 1fr 1fr 1fr 1fr 5px;
    grid-template-rows: 140px auto 20rem;
  }
}
@include respond-to("huge") {
  .wrap {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 5px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 5px;
    grid-template-rows: 140px auto 20rem;
    margin: 0 auto;
  }
}
